code,
pre {
  padding: 7px;
  font-size: 14px;
  font-family: Consolas;
  background: #f0f0f0;
}
code {
  padding: 3px 5px;
  border-radius: 4px;
  color: #6a7c8e;
}
.highlight {
  margin: 1em 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  position: relative;
}
.highlight table {
  position: relative;
  max-width: none;
}
.highlight table::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 2px 7px;
  font-size: 14px;
  font-weight: bold;
  color: #fefefe;
  background: #34495e;
  content: 'Code';
}
.highlight figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2px 7px;
  font-size: 14px;
  font-weight: bold;
  color: #808080,;
  background: #34495e;
  z-index: 20;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #fff;
}
.highlight figcaption > a {
  position: absolute;
  right: 0;
  display: inline-box;
  margin-right: 7px;
  font-weight: 400;
}
.highlight figcaption > a:hover {
  text-decoration: none;
  border: 0;
}
.highlight .code pre {
  margin: 0;
  padding: 40px 10px 10px;
}
.highlight .code pre {
  margin: 0;
  padding: 40px 10px 10px;
}
.highlight .gutter {
  width: 10px;
  color: $gray;
}
.highlight .gutter pre {
  margin: 0;
  padding: 40px 7px 10px;
}
.highlight .line {
  height: 21px;
}
.highlight table,
.highlight tr,
.highlight td {
  margin: 0;
  padding: 0;
  width: 100.1%;
  border-collapse: collapse;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #16982b;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #16982b;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
